*{
  box-sizing: border-box;
}

#search-form input[type="text"]{
	border-width: 0px 0px 1px 0px;
	color: #2e2e2e;
	width: auto;
	padding: 5px;
	font-family: Helvetica, Verdana, Georgia;
	font-size: 1em;
	transition: 0.3s ease-in-out;
}

#search-form input[type="text"]:focus{
	color: #2e2e2e;
	font-family: Helvetica, Verdana, Georgia;
	font-size: 3em;
	padding: 10px;
	width: 100%;
}

#search-form input[type="text"]:focus + button{	
	display: none;
}

#search-form button {
	background-color: #FF3345;
	border: 0px;
	color: #ffffff;
	font-family: Helvetica, Verdana, Georgia;
	font-size: 1em;
	padding: 10px;
	width: auto;
}

.song {
	display: inline-block;
	padding: 10px;	
	width: 50%;
}

.song img {
	height: 25px;
	width: 25px;
}

/*--- SPINNER -- */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}